@font-face {
    font-family: "pokemonFont";
    src: url("../font/pokemonHollow.ttf");
}

body {
    margin: 0;
    padding: 0;
}

#header {
    margin-left: 30%;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: stretch;
    margin-top: 5%;


}

.errorBlock {

    text-align: center;
    font-family: "pokemonFont", serif;
    font-weight: bold;
    margin-left: 5%;
    font-size: 150%;

}

#containerImg {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;


}

#containerPrincipal {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    width: 500px;
    height: 600px;
    background: #bf404a;
    border-radius: 25px 25px 0 25px;
    -webkit-box-shadow: 10px 10px 118px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 118px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 118px 0 rgba(0,0,0,0.75);
}



#container2 {
    width: 500px;
    height: 400px;
    background:#bf404a;
    border-radius: 0 25px 25px 0;
    margin-left: -4px;
    -webkit-box-shadow: 25px 5px 81px -15px rgba(0,0,0,1);
    -moz-box-shadow: 25px 5px 81px -15px rgba(0,0,0,1);
    box-shadow: 25px 5px 81px -15px rgba(0,0,0,1);

}

#topBlock{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-bottom: 10%;

}

#screenBlock{

    width: 260px;
    height: 300px;
    background: #ffffff;
    border-radius: 30px 30px 30px 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-bottom: 10%;
    -webkit-box-shadow: -1px 5px 81px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px 5px 81px -15px rgba(0,0,0,1);
    box-shadow: -1px 5px 81px -15px rgba(0,0,0,1);

}
#statsBlock {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    align-content: stretch;
    padding-bottom: 3%;
}

#firstCircle {
    margin: 2% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    background: radial-gradient(circle at 50% 120%,#062745, #76deef 10%, #055194 80%, #81e8f6 100%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);

}

#pokedex{
    padding-top: 3%;
    margin-left: 3%;
    text-align:center;
    font-size: 190%;
    font-weight: bold;
    font-family: "pokemonFont", serif;

}
#containerGrey {
    background: #a2a894;
    width: 220px;
    height: 220px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
#circleContainerImg {
    width: 30px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    margin-right: 60%;
    -webkit-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    background: radial-gradient(circle at 50% 120%,#FE1B00, #ED0000 10%, #DB1702 80%, #BB0B0B 100%);
}
.circleValid{
    width: 30px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    margin-right: 60%;
    -webkit-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    background: radial-gradient(circle at 50% 120%,#7FDD4C, #76deef 10%, #16B84E 80%, #008000 100%);
}
.imgError {
    width: 220px;
    height: 220px;
}

#errorBlock{
    width: 400px;
}

#blockNumber {
    width: 180px;
    height: 100px;
    background-color: green;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);

}
#whiteNumber{

    width: 160px;
    height:100px;
    border-radius: 10px 10px 10px 10px;
    text-align:center;
    font-size: 190%;
    font-family: "pokemonFont", serif;
    font-weight: bold;
    background: -moz-linear-gradient(top,  rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}

.imgStat{
    margin-left: 10px;
    width: 30%;
}


#blockStat{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
}
#attack{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}
#defense{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}

.nbStats{
    width: 60px;
    height: 60px;
    margin-left: 3%;
    font-size: 150%;
    font-family: "pokemonFont", serif;
    font-weight: bold;
    border-radius: 30px 30px 30px 30px;
    background: white;
    text-align: center;
    -webkit-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    background: -moz-linear-gradient(top,  rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */

}
#nbAttack{
    margin-bottom: 2%;
}



#container_pokemon_name {
    width: 450px;
    height: 150px;
    background: #a2a894;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    font-family: "pokemonFont", serif;
    font-weight: bold;
    -webkit-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    background: -moz-linear-gradient(top,  rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */


}

.align_description {
    font-size: 150%;
    margin-left: 30%;
    vertical-align: bottom;
}

#name {

}

#type {

}

#content_img {
    width: 200px;
    height: 174px;
    background: #a5ab96;
    margin: 40px 20px 60px 20px;
    border-radius: 5px 5px 5px 5px;
}

#pokemonName {
    margin-left: 0;
}
.img {
    width: 250px;
    height: 220px;
    border-radius: 10px 10px 10px 10px;
    background-color: #a5ab96;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
    margin: 10px 30px 15px 20px;
}
.rowBottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
    margin: 10px 30px 15px 20px;
}
.buttonRight {
    width: 18%;
    height: 25px;
    background: #28aafd;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    margin-bottom: 1%;

}
.buttonBottom {
    width: 80px;
    height: 40px;
    margin-right: 3%;
    background: #dedede;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);

}
.circle {
    margin-left: 40%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 120%,#062745, #76deef 10%, #055194 80%, #81e8f6 100%);
    -webkit-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
    box-shadow: -1px 5px 56px -15px rgba(0,0,0,1);
}

#circleYellow {

    width: 30px;
    height: 30px;
    background: #ffdf18;

}

